/* body {
    /* max-width: 100%; */
    /* background: url("livemusic.jpg");
    background-position: center; 	
    background-size: cover;
    background-repeat: no-repeat;
  margin-bottom: 5em;
} */

/* .login-card {
  padding: 2rem;
} */

.login-inputs {
 
  padding: .5rem 9rem;
}

.login-forms {
  margin-top: 1rem;
}

.login-card {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #ffffff8e!important;
}

legend {
  margin-bottom: 0 !important;
}

.btn-secondary {
    background-color: #02085A!important;
}