@import url('https://fonts.googleapis.com/css?family=Montserrat');
body > #root > div {
  height: 100vh;
}
 
 .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.live-music{
  height: 30%;
  width: 100%;
  margin-bottom: 5em;
}

.background-image {
  background: linear-gradient(rgba(3, 0, 27, 0.87), rgba(218, 33, 135, 0.904)), url("../src/images/live-music2.jpeg");
  background-blend-mode: color;

  background-size: cover;
  height: 300px;
}

.noscalpers {
    padding-top: .4em;
    float: none;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 120px;
    font-weight: 900;
    color: #02085A!important;
   

}

.login-page {
  background: linear-gradient(rgba(3, 0, 27, 0.87), rgba(218, 33, 135, 0.904)),url("../src/images/live-music2.jpeg");
  background-blend-mode: color;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 6em;
}

.posts {
  background-color: rgb(232, 245, 252) !important ;
  background-size: cover;
  width: 100%;
  padding-bottom: 4em;

}

